#  Uber Prediction Rider

In [1]:
#import essential libraries
import pandas as pd
import numpy as np

In [2]:
#import dataset
data=pd.read_csv("taxi.csv")
data.head()

,Priceperweek,Population,Monthlyincome,Averageparkingpermonth,Numberofweeklyriders
0,15,1800000,5800,50,192000
1,15,1790000,6200,50,190400
2,15,1780000,6400,60,191200
3,25,1778000,6500,60,177600
4,25,1750000,6550,60,176800

In [3]:
data.shape

(27, 5)

In [4]:
data.isnull().sum()

Priceperweek              0
Population                0
Monthlyincome             0
Averageparkingpermonth    0
Numberofweeklyriders      0
dtype: int64

In [5]:
#split data into dependent and independent data
X=data.iloc[:, 0:-1].values
y=data.iloc[:,-1].values

In [6]:
X

array([[     15, 1800000,    5800,      50],
       [     15, 1790000,    6200,      50],
       [     15, 1780000,    6400,      60],
       [     25, 1778000,    6500,      60],
       [     25, 1750000,    6550,      60],
       [     25, 1740000,    6580,      70],
       [     25, 1725000,    8200,      75],
       [     30, 1725000,    8600,      75],
       [     30, 1720000,    8800,      75],
       [     30, 1705000,    9200,      80],
       [     30, 1710000,    9630,      80],
       [     40, 1700000,   10570,      80],
       [     40, 1695000,   11330,      85],
       [     40, 1695000,   11600,     100],
       [     40, 1690000,   11800,     105],
       [     40, 1630000,   11830,     105],
       [     65, 1640000,   12650,     105],
       [    102, 1635000,   13000,     110],
       [     75, 1630000,   13224,     125],
       [     75, 1620000,   13766,     130],
       [     75, 1615000,   14010,     150],
       [     80, 1605000,   14468,     155],
       [     86, 1590000,   15000,     165],
       [     98, 1595000,   15200,     175],
       [     87, 1590000,   15600,     175],
       [     77, 1600000,   16000,     190],
       [     63, 1610000,   16200,     200]], dtype=int64)

In [7]:
y

array([192000, 190400, 191200, 177600, 176800, 178400, 180800, 175200,
       174400, 173920, 172800, 163200, 161600, 161600, 160800, 159200,
       148800, 115696, 147200, 150400, 152000, 136000, 126240, 123888,
       126080, 151680, 152800], dtype=int64)

In [8]:
#train-test-slpit 
from sklearn.model_selection import train_test_split
X_train,X_test,y_train,y_test=train_test_split(X,y,test_size=0.3,random_state=0)

In [9]:
print("Shape of X_train",X_train.shape)
print("Shape of X_test",X_test.shape)
print("Shape of y_train",y_train.shape)
print("Shape of y_test",y_test.shape)

Shape of X_train (18, 4)
Shape of X_test (9, 4)
Shape of y_train (18,)
Shape of y_test (9,)

In [10]:
from sklearn.linear_model import LinearRegression
reg=LinearRegression()
reg.fit(X_train,y_train)

LinearRegression()

In [11]:
print("Train Score=",reg.score(X_train,y_train),"%")
print("Test Score=",reg.score(X_test,y_test),"%")

Train Score= 0.9428364724316814 %
Test Score= 0.9157379222488224 %

In [12]:
import pickle

In [13]:
pickle.dump(reg,open('taxi.pkl','wb'))

In [14]:
# Testing of .pkl
model=pickle.load(open('taxi.pkl','rb'))
print(model.predict([[80,1770000,6000,85]]))

[153448.45038985]